<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div style="direction:rtl">
    <div
      style="height: 400px;width: 100%;background: rgb(72,171,243);
			background: linear-gradient(56deg, rgba(72,171,243,1) 0%, rgba(71,226,201,1) 100%);position: relative; overflow: hidden; border-radius: 0 0 40px 40px;text-align: center;"
    >
		<img style="width: 130px;margin: 100px auto;margin-bottom: 20px;" src="https://helsawell.com/images/email/icon.png" />
		<h1 style="font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;color: #fff; text-align: center">Helsawell</h1>
    </div>
      <p style="font-size: 16px;font-family: sans-serif;color: #222">سلام!</p>

      <p style="font-size: 16px;font-family: sans-serif;color: #222">
        شما درخواست تغییر رمز عبور داده‌اید!<br />
        اگر درخواست تغییر رمز عبور نداده‌اید این ایمیل را نادیده بگیرید. در غیر این صورت، وارد لینک زیر شوید تا بتوانید رمز عبور خود را دهید.
      </p>
			<p style="font-size: 16px;font-family: sans-serif;color: #222">با تشکر</p>
			<a style="font-size: 16px;font-family: sans-serif;color: #fff;width: 125px;display: inline-block;height: 40px;text-align: center;text-decoration: none;border-radius: 10px;background-color: #47E1C9; margin: 10px auto;" href=<%= URL %>?code=<%= TOKEN %>>تغییر رمز عبور</a>
    </div>
  </body>
</html>
